@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    background-color: fuchsia;
    height: 100vh;
    color: brown;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.col-6 {
    padding: 0;
}

.container-fluid.pomodoro-container {
    display: flex;
    flex-direction: column;
}

.col-6.pomodoro {
    border-right: 20px solid red;
}
button {
    width: 150px;
    border: 0px;
}

.pomodoro-timer {
    height: 364px;
    width: 364px;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 5px solid crimson;
}

.row.pomodoro-headings {
    margin-bottom: 50px;
}

.row.pomodoro-headings button {
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
}

.start-button {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#timer-start {
    width: 384px;
    height: 70px;
    border-radius: 50px;
}

