@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    background-color: rgba(255, 255, 255, 0.836);
    height: 100vh;
}

/* ----------------------------------------------- POMODORO ------------------------------------------ */

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.col-5,
.col-7 {
    padding: 0;
    margin: 0;
}

.container-fluid.pomodoro-container {
    display: flex;
    flex-direction: column;
}

.col-5.pomodoro {
    border-right: 1px solid rgb(189, 189, 189);
}

button {
    border: 0px;
}

.pomodoro-timer {
    height: 364px;
    width: 364px;
    border-radius: 50%;
    background-color: #caf0f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    border: 5px solid #00b4d8;
}

.pomodoro-timer h1 {
    font-size: 60px;
    color: #0077b6;
}

.row.pomodoro-headings {
    margin-bottom: 50px;
}

.row.pomodoro-headings button {
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    background: none;
    font-size: 22px;
    font-weight: 600;
    /* border-bottom: 1px solid rgb(177, 177, 177); */
}

.row.pomodoro-headings button:hover {
    background-color: rgba(216, 216, 216, 0.466);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.start-button {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.start-button button {
    background-color: #90e0ef;
    width: 150px;
}

#timer-start {
    width: 384px;
    height: 70px;
    border-radius: 50px;
    color: #0077b6;
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 2px;
}

/* ----------------------------------------------- KANBAN ------------------------------------------ */

.row.kanban-headings {
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: start;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    margin-top: 30px;
    border-radius: 50px;
}

.kanban-column {
    width: 340px;
    height: 600px;
    background-color: red;
    border-radius: 50px;
}

.kanban-column.to-do {
    background-color: #3a86ff;
}

.kanban-column.in-progress {
    background-color: #8338ec;
}

.kanban-column.done {
    background-color: #ff006e;
}